.container {
  display: grid;
  grid-template-columns: [first] 125px [last-line] 90%;
  grid-template-rows:[first] 15% [line2] 10% [line3] 250px [line4] 15% [last-line];

}

#navbar {
  grid-column: 1/ end;
}

#sidebar {
  grid-row: 2/ span 4;
}

#title {
  grid-column: 2/ end;
}


#content {
  grid-column: 2/end;
  grid-row: 3/ span 3;
}

#footer {
  grid-column: 1/ end;
}
