.container {
  display: grid;
  grid-template-columns: repeat(5, 100px  [col-start]);  
  grid-template-rows: repeat(2, 30px [row-start]);
}

#title {
  grid-column: /*this should span the entire page, look into using negative numbers in grid-column-end*/;
}

.friend {

}

/* Style other types of family members below*/
